<div id="user-button" title="Account Settings">
  <a href="/home/">
    <img src="/static/img/avatar.png" />
    <h2>User Name</h2>
  </a> 
</div>
<ul id="user-links" class="ui-widget ui-helper-clearfix">
  <li class="ui-state-default ui-corner-all" title=".ui-icon-mail-closed">
    <a href="/notifications/" class="tooltip">
      <span class="icon ui-icon ui-icon-mail-closed"></span>
    </a>
  </li>
  <li class="ui-state-default ui-corner-all" title=".ui-icon-wrench">
    <a href="/account/" class="tooltip">
      <span class="icon ui-icon ui-icon-wrench"></span>
    </a>
  </li>
  <li class="ui-state-default ui-corner-all" title=".ui-icon-closethick">
    <a href="/logout/" class="tooltip">
	  <span class="icon ui-icon ui-icon-closethick"></span>
    </a>
  </li>
</ul>	