Fabric==1.4.0
Jinja2==2.6
Pygments==1.4
Sphinx==1.1.2
Werkzeug==0.8.3
bzr==2.5.0
docutils==0.8.1
html5lib
ipython==0.12
lxml==2.3.2
nose==1.1.2
paramiko==1.7.7.1
pep8==0.6.1
pyOpenSSL==0.13
pycrypto==2.5

Django==1.4
argparse==1.2.1
django-appconf==0.5
django-compressor==1.1.2
django-guardian==1.0.4
django-photologue==2.3
django-profile==0.0.3
django-registration==0.8
django-social-auth==0.6.7
django-userena==1.0.2
easy-thumbnails==1.0-alpha-21
httplib2==0.7.4
oauth2==1.5.211
python-openid==2.2.5
versiontools==1.9.1
wsgiref==0.1.2
