
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/typography/text/replacement";
@import "compass/utilities/sprites";

// Sprite setup. Each sprite must have 6px of clear on each side.
$icon-spacing: 6px;
@import "icon/*.png";
@include all-icon-sprites;

#logo-container {
    background: #002424 no-repeat;
    opacity: 0.8;
    position: absolute;
    top: 0px;
    height: 110px;
    width: 500px;
    //border: 2px outset #999999;
    margin: 0px auto 5px 3%;
    a {
        text-decoration: none;
        &:link, &:visited, &:active {
            color: #ffffff;
            //opacity: 1.0;
        }
        &:hover {
            color: #ffffff;
            opacity: 1.0;
        }
        @include single-transition(color, 0.5);
    }
    @include single-box-shadow(#333333, 4px, 4px, 5px);
}

#title {
    margin: auto auto auto 20px;
    font: {
        style: normal;
        weight: lighter;
        size: 3.5em;
        family: arial;
    }
    //@include single-text-shadow(#FCCC2D, 2px, 2px, 4px);
}

#subtitle {
    margin: auto auto auto 110px;
    color: #575757;
    position: relative;
    top: -9px;
    font: {
        style: normal;
        weight: normal;
        size: 1.5em;
        family: arial;
    }
}

#topbar {
    background: #b1b1b1 no-repeat;
    height: 40px;
    border: 1px outset #c2c2c2;
    margin: 10px 0px 70px 0px;
    a {
        text-decoration: none;
        &:link, &:visited, &:active {color: #ff8400}
        &:hover {color: #ff5500}
    }
}

#search {
    //width: 210px;
    float: right;
    margin: 4px;
}

#util-bar {
    //width: 190px;
    float: right;
    margin: 2pt 0 0 0;
}

//Start Main Nav
#main-nav {
    text-decoration: none;
    font: {
        style: normal;
        weight: lighter;
        size: 2.5em;
        family: arial;
    }
}