{% extends "base.html" %}

{% block extrahead %}{% endblock %}

{% block content %}
<div>
  <section id="project-section">
    <h1>Project Section</h1>
    <article id="something" class="project">
      <h2>Project Number 1</h2>
      <p>This is the content for project number 1</p>
    </article>
    <article id="something2" class="project">
      <h2>Project Number 2</h2>
      <p>This is the content for project number 2</p>
    </article>
  </section>
</div>
{% endblock %}


{% block extra_body_js %}{% endblock %}